# Ejercicios

## Ejercicio 1

__(a)__ Utiliza la función `range` para generar la __lista__ de numeros pares con inicio 100 y fin 150. Ambos inclusive. 

__(b)__ Utiliza la función `range` para generar la __tupla__ de numeros múltiplos de 3 con inicio 99 y fin 78. Ambos inclusive. El resultado será: `(99, 96, 93, 90, 87, 84, 81, 78)`.

In [6]:
# SOL a)
r = range(100, 152, 2)
lista_pares = list(r)
lista_pares

[100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150]

In [45]:
# SOL b)
r = range(78, 102, 3)
lista_mult3 = list(r)
lista_mult3.reverse()
tupla_mult3 = tuple(lista_mult3)
tupla_mult3

(99, 96, 93, 90, 87, 84, 81, 78)

## Ejercicio 2

Escribe una función llamada `weekday` que devuelva el día de la semana (Lunes, Martes, Miércoles, etc.). La función tiene un único parámetro de entrada de tipo entero y comprendido entre el 1 y el 7 que representa el día de la semana. Dicha función devuelve un único valor de tipo str.

__Nota:__

* weekday(1) devuelve como resultado el valor 'Lunes'
* weekday(6) devuelve como resultado el valor 'Sábado'

In [69]:
# SOL
def weekday(x):
    semana = ['None','Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo']
    return(semana[x])

In [70]:
weekday(6)

'Sábado'

## Ejercicio 3

Diseña una función llamada __sumar_pares_positivos__ que reciba una lista de números `a` y devuelva la suma de  conteaquellos números que sean pares y positivos.

__Ejemplo de ejecución:__

```
In: 
    L = [5, -2, 2, 4, -8, 6, 7, 0]
    r = sumar_pares_positivos(L) 
    r
    
Out: 
    12
```

In [141]:
# Sol:
def sumar_elementos(a):
    suma = 0
    for each in a:
        suma = suma + each
    return suma

In [142]:
a = [5, -2, 2, 4, -8, 6, 7, 0]
r = sumar_elementos(a)
r

14

In [162]:
def pares_positivos(e):
    suma = 0
    if (e % 2 == 0 and e > 0):
        suma = suma + e
        return suma
    else:
        return 0

L = [5, -2, 2, 4, -8, 6, 7, 0]
resultado = map(pares_positivos, L)
list(resultado)

[0, 0, 2, 4, 0, 6, 0, 0]

In [185]:
def sumar_pares_positivos(a):
    suma = 0
    for each in a:
        if (each % 2 == 0 and each > 0):
            suma = suma + each
    return suma

In [186]:
L = [5, -2, 2, 4, -8, 6, 7, 0]
resultado = sumar_pares_positivos(L)
resultado

12

## Ejercicio 4

El siguiente diccionario representa algunos de los datos de empleados (NIF's y otros datos personales) de una empresa:

In [205]:
personal = {
 '09514247N': {"perfil": ["desarrollador de software","cocina" ],
               'edad': 28,
               'salario': 35000,
               "incorporación": 2005,
               "empresa_ant": "IBM",
               "pais": "España"},
 '12547895E': {"perfil": ["desarrollador de software", "control de calidad"  ],
               'edad': 28,
               'salario': 28000,
               "pais": "España"},
 '01235842B': {"perfil": [ "gestión logística","control de calidad", "transporte"],
               'edad': 28,
               'salario': 47000,
               "empresa_ant": "Amazon",
               "pais": "España"},
 '47854141S': {"perfil": [ "inventario","control de calidad", "gestión de proyectos"  ],
               'edad': 28,
               'salario': 50000,
               "incorporación": 2000,
               "pais": "España"},
 '12345678G': {'edad': 28,
               'salario': 62000,
               "pais": "España"},
 '56789023T': {"perfil": ["desarrollador de videojuegos" ],
               'edad': 28,
               'salario': 29000,
               "pais": "España"}
}

(a) Escribe las instrucciones necesarias para recuperar la lista de todos los NIFs. Observa que el dato del NIF se encuentra en la claves del diccionario personal.

In [206]:
# SOL
lista_nif = list(personal.keys())
lista_nif

['09514247N', '12547895E', '01235842B', '47854141S', '12345678G', '56789023T']

(b) Escribe la instrucción que devuelve la edad de la persona con NIF 01235842B.

In [207]:
# SOL
personal['01235842B']['edad']

28

(c) Sube el salario en un 10% al empleado con NIF 56789023T.

In [209]:
# SOL
personal['56789023T']['salario'] = 29000 * 1.1
personal['56789023T']['salario']

31900.000000000004

## Ejercicio 5

Dada una lista de direcciones de correo electrónico:

```
direcciones = ['ana@gmail.com', 'luis@google.es', 'tu@ucm.es' ]
```
se desea extraer el nombre del dominio. Por ejemplo, a partir de la lista anterior, queremos obtener la lista:

```
['gmail.com', 'google.es', 'ucm.es' ]
```

Para resolver este problema, tenemos que usar la función split de los strings, que permite dividir un string en partes.

In [269]:
# SOL
direcciones = ['ana@gmail.com', 'luis@google.es', 'tu@ucm.es']
dominio = []
for each in direcciones:
    dominio.append(each.split('@')[1])
dominio

['gmail.com', 'google.es', 'ucm.es']

## Ejercicio 6

Dada una lista de empleados con su salario:

empleados = [('Ana', 200), ('Juan', 400), ('Pedro', 750), ('Lucía', 600), ('Sergio', 350)]

se desea extraer el nombre de los empleados cuyo salario es inferior a 500. Por ejemplo, a partir de la lista anterior, queremos obtener la lista:

['Ana', 'Juan', 'Sergio']

In [275]:
# Sol:

empleados = [('Ana', 200), ('Juan', 400), ('Pedro', 750), ('Lucía', 600), ('Sergio', 350)]
salario_menos_500 = []

for each in empleados:
    if each[1] < 500:
        salario_menos_500.append(each[0])

salario_menos_500

['Ana', 'Juan', 'Sergio']